<div class="about-us">
    <div id= "about-us"></div>
    <ul id="about-us-flex" >
        <li>20194616 <br>Tran Duc Manh<br></li>
        <li>20194658 <br>Le Duc Son<br></li>
        <li>20194568 <br>Vo Ta Hoan<br></li>
        <li>20194560 <br>Ngo Trung Hieu<br></li>
        <li>20194477 <br>Nguyen Viet Anh<br></li>
        <li>20194533 <br>Phan Hai Duong<br></li>
    </ul>
</div>
